<div class="mdl-card__title">
    <table class="timedswitches mdl-data-table mdl-data-table--selectable">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Channel</th>
            <th class="mdl-data-table__cell--non-numeric">Speed</th>
            <th class="mdl-data-table__cell--non-numeric">Timeout</th>
            <th class="mdl-data-table__cell--non-numeric">State</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>
<div class="mdl-card__supporting-text">
  {{title}}
</div>
<div class="mdl-card__actions mdl-card--border">

</div>
<div class="mdl-card__menu">
  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">settings</i>
  </button>
</div>
