.DS_Store
._.DS_Store
.vscode
Adafruit-Motor-HAT-Python-Library
Raspberry-Pi-sample-code
._*
data/cond2.svg
data/ph.png
data/ph.svg
data/ph2.svg
data/pump.svg
data/relais.svg
data/temperature.svg
data/temperature2.svg