.sensor-card-wide {
  &.mdl-card {
    width: calc(50% - 20px);
    max-width: 500px;
    margin: 10px;
    float: left;
  }
  
  .mdl-checkbox {
    width: 200px;
  }

  .mdl-card__menu {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .mdl-card__title {
    color: #fff;
    height: 270px;
    position: relative;
    padding: 0px 5px 0px 5px;

    .mdl-button__ripple-container {
      color: navy;
    }

    .mdl-card__title-text {
      position: absolute;
    }
  }

  .mdl-card__actions {
    min-height: 55px;
  }

  .mdl-card__supporting-text {
    width: auto;
    .lastValue {
      float: right;
    }
  }
}

.dashbord-card-wide {
  &.mdl-card {
    width: calc(50% - 20px);
    margin: 10px;
    float: left;
  }

  .mdl-card__title {
    color: #fff;
    height: 270px;
    padding-bottom: 0px;
  }

  .mdl-card__menu {
    position: absolute;
    right: 5px;
    top: 6px;
  }
  
  .mdl-card__menu {
    color: #fff;
  }

  .mdl-card__actions {
    min-height: 55px;
  }
}

.dashboard, .sensor {
  padding: 10px;
  max-width: 1040px;
  margin: 0 auto;
}

.switches {
  li {
    width: 50%;
    float: left;
  }
}

.mdl-card__actions {
  display: none;
}

.sensor-card-wide .mdl-card__menu {
  color: transparent;
  &:hover {
    color: #b5b5b5;
  }
}

.mdl-layout__content {
  background-color: #3f51b50d;
}
